.main-container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

p {
  display: inline;
}

.button1,
.button2 {
  padding: 8px;
  margin-right: 5px;
  font-family: monospace;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.button1:hover,
.button2:hover {
  opacity: 80%;
}
